* { box-sizing: border-box;}

body, html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  min-height: 500px;
  width: 100%;
  display: flex;
}

#le_canvas {
  margin: auto;
  border: solid #000;
}